@import url(fonts.css);

/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


h1,*{
    margin: 0;
    padding: 0;
}

#h-overlay{
    position: relative;
    z-index: -50;
}
a,a:hover,a:active{
    text-decoration: none;
    transition: none;
}
body{
    background-color:#FFFFFF;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}
.round-btn,.showTimings td a{
    border-radius: 25px;
    -moz-outline-radius: 25px;
}
.showTimings td a{
    padding: .5rem;
}
#header{
    background-color: #DC143C;
    color: #FFFFFF;
}
.menu{
    /*overflow: hidden;*/
    background: #99cccb scroll;
    color: #FFFFFF;
    border-bottom: #59ABA9 1px solid;
	border-radius: 0 0 3px 3px;
}
.round-btn,.showTimings td a{
	background-color: #FFFFFF;
    color: #59ABA9;
    border: 1px solid #59ABA9;
    box-shadow: 0 4px 8px 2px rgba(0,0,0,0.2);
    font-size: 1rem;
    margin: .5rem 1rem;
}
.round-btn.home{
	background-color:#DC143C;
    color: #FFFFFF;
}
.round-btn:hover:not(.home),.showTimings td a:hover{
	background-color: #59ABA9;
    color: #FFFFFF;
}
#close{
    border: 1px solid #DC143C;
    background: white;
    color: #DC143C;
}
#close:hover{
    background: #DC143C;
    color: white;
}
.nav-pills .nav-link{
    border-radius: 4rem!important;
    padding: .5rem 2rem !important;
}
#mtab .nav-link{
    background-color: #FFFFFF;
    color: #59ABA9;
}
#mtab .nav-link.active{
    background-color: #59ABA9;
    color: #FFFFFF;
}
             /*DROP DOWN*/

/*.drop-content{
    !*display:none;*!
    z-index: 1000;
    opacity: 0;
    padding: 1vh auto;
}

.drop-content a {
    background-color: #FFFFFF;
    color: #59ABA9;
    height: 0;
    z-index: 1000;
    border: 1px #59ABA9 solid;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

}

.drop-content a:hover {
    color: #FFFFFF;
    background-color: #59ABA9;
    cursor: pointer;
}

.drop:hover .drop-content{
    opacity: 1;
}
.drop:hover .drop-content a{
    height: auto;
    overflow: visible;
}*/
#intro{
    background-color: #E3DEBF;
    color: dimgrey;
    width: 100%;
}


.flexslider a:active,
.flexslider a:focus  { outline: none; }
.slides,
.flex-control-nav,
.flex-direction-nav { margin: 0; padding: 0; list-style: none; }
.slides li { margin: 0; padding: 0;}

/* Necessary Styles */
.flexslider {
    position: relative;
    zoom: 1;
    margin: 0;
    padding: 0;
}
.flexslider .slides { zoom: 1; }
.flexslider .slides > li { position: relative; }

/* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides > li { display: none; -webkit-backface-visibility: hidden; }
/* Suggested container for slide animation setups. Can replace this with your own */
.flex-container { zoom: 1; position: relative; }

/* Clearfix for .slides */
.slides:before,
.slides:after {
    content: " ";
    display: table;
}
.slides:after {
    clear: both;
}
/* Direction Navigation
--------------------------------------------------------------- */
.flex-direction-nav a {
    display: block;
    width: 40px;
    height: 66px;
    margin: -33px 0 0 0;
    background-color: #1f202490;
    cursor: pointer;
    z-index: 1000;
    opacity: 0;
    position: absolute;
    top: 50%;

    /* hide text */
    font: 0/0 a;
    text-shadow: none;
    color: transparent;

    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.flex-direction-nav a:hover { background-color: #0F9095; }

.flex-direction-nav .flex-next {
    right: 0;
    background: #1f202490 url(../img/direction-nav-right.png) no-repeat 47% 50%;
    position: absolute;

    border-radius: 3px 0 0 3px;
}
.flex-direction-nav .flex-prev {
    left: 0;
    background: #1f202490 url(../img/direction-nav-left.png) no-repeat 53% 50%;
    position: absolute;

    border-radius: 0 3px 3px 0;
}
.flexslider:hover .flex-next,
.flexslider:hover .flex-prev { opacity: 1; }
.flex-direction-nav .flex-disabled {
    opacity: .3 !important;
    filter: alpha(opacity=30);
    cursor: default;
}
.flexslider{
    background: transparent;
    border: 0;
}
iframe{display: block;
    margin: 0 auto;
}
.slider-text{
    margin: 0;
    text-align: center;
}
.slider-text h1{
    margin: 0;
}
.slider-image{
    margin: 0 auto;
}
/*.slider-image {
    position: relative;
    padding-bottom: 56.25%; !* 16:9 *!
    padding-top: 25px;
    height: 0;
}
.slider-image iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}*/

img#banner-img{
    display: block;
    height: 332px;
    width: 443px;
}
.slider-text h1 span,.slider-text a { color: #11ABB0; }
.slider-text p {
    font: 17px/36px notosans-regular, sans-serif;
    padding: 2vh;
    margin: 12px 8% 0;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .3);
}
#info .row{
    padding-bottom: 42px;
    max-width: 75%;
    margin: 0 auto;
}
#info h2{
    color: #11ABB0;
    font: 18px/30px notosans-bold, sans-serif;
    margin-bottom: 6px;
}
#info p{
    line-height: 30px;
    font-size: 15px;
}
section#popular{
    background-color: lightgray;
    padding-top: 48px;
    padding-bottom: 36px;
    border-top: 1px solid #E3E8E8;
}
#now-head h1{
    font: 20px/36px raleway-bold, sans-serif;
    color: #A1A8AF;
}
#t-pad{
    padding: 0;
    margin: 0;
}
.trailer-item{
    text-align: left;
    background-color: #f5f5f5;
    border-radius: 1rem;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
}
.trailer-item iframe{
    width: 100%;
    z-index: 1;
    box-shadow: 0 3px 8px 2px rgba(0,0,0,0.2);
}
.t-item{
    padding: 4vh;
}
.t-item h1{
    color: #11ABB0;
}
#acc-create{
    background-color: #E3DEBF;
}


#su-btn:hover,#su-btn:active
{
    color: white;
}
#su-btn{
    background-color: #11ABB0;
    color: #ddd;
    font-weight: bold;
}
footer{
    background-color: darkgrey;
    position: static;
    bottom: 0;
    font-size: 14px;
}
footer a, footer a:visited { color: #6A747C; }
footer a:hover {
    color: black;
    background-color: transparent;
}

footer .footer-nav{
    text-align: center;
    padding: 24px;
    margin: auto;
    font: 18px/36px raleway-bold, sans-serif;
    font-weight: bolder;
    border-bottom: 1px solid #8c969f;
    width: 70%;

}
footer .footer-nav a { color: #7B858E; }
footer .footer-nav a:hover { color: black }
footer .footer-social{
    text-align: center;
    font-size: 30px;
}
footer ul{
    padding: 0;
}
footer .footer-social li a { color: #7B858E; }
footer .footer-social li a:hover { color: black }
footer .copyright{
    text-align: center;
}
footer ul{
    margin: 0 auto;
}
footer li{
    list-style: none;
    display: inline-block;
    padding: 1vw;
    margin: 0;
}
.footer-nav a:hover,.footer-nav a:active{
    color:black;
}



/*#intro.carousel span{
    color: black !important;
}

.car-next{
    background: black url("../img/direction-nav-right.png") no-repeat 47% 50%;
    position: absolute;
    right: 0;
    width:45px;
    height:50px;
    border-radius: 3px 0 0 3px;
}
.car-prev{
    background: black url("../img/direction-nav-left.png") no-repeat 47% 50%;
    position: absolute;
    left: 0;
    width:45px;
    height:50px;
    border-radius: 0 3px 3px 0;
}
.carousel{
    transition: transform 2s ease, opacity .5s ease-out
}*/


.controls-top a{
    position: absolute;
    top: 40%;
    z-index: 100;
    border: 1px solid #59ABA9;
    padding: .75rem 1.2rem;
    border-radius: 50%;
}
.mv-slides .card-next{
    right: 0;
}
.mv-slides .card-prev{
}

.mv-slides .card{
    width: 15rem !important;
    border-radius: .75rem;
    margin: 1rem auto .4rem;
}
.mv-slides .card .card-body{
    padding: .5rem;
}
.mv-slides .card img{
    width: 100%;
    border-radius: .75rem .75rem 0 0;
    box-shadow: 0 3px 8px 2px rgba(0,0,0,0.2);
}

.carousel-indicators li{
    bottom: -3rem;
    background: #59ABA9;
    border: 1px solid #59ABA9;
}
.mv-slides h3{
    padding: 1rem;
    border: 1px solid #59ABA9;
    display: inline-block;
    border-radius: 1rem;
}
.mv-slides hr{
    background: #59ABA9;
    width: 98%;
    margin: auto;
}
table#showTimings th{
    text-align: center;
}
#date-tabs{
    background-color: #59ABA9 !important;
}
#date-tabs a{
    color: #fff !important;
}
#date-tabs a.active{
    color: #495057 !important;
}
#seats{
    perspective: 50rem;
}
#seats li{
    margin: 4rem;
    transform: rotateX(37deg);
}
#seats ul{
    list-style-type: none;
}
#seats ul li:first-child{
    margin-right: 1rem;
    border: none;
    background-color: #fff !important;
}
#seats ul li:nth-child(5){
    margin-right: 4rem;
}
#seats a:hover{
    color: white;
}
#seats ul li{
    display: inline-block;
    border: 1px solid #59ABA9;
    border-radius: 25%;
    padding: .3rem .5rem;
    color: dimgrey;
    margin: auto 1rem;
}
#seats ul li:not(.una):hover{
    background-color: #59ABA9;
    color: #fff;
}
.una,.una:hover{
    border:1px solid #DC143C !important;
    background-color: #DC143C;
    color: #fff;
    cursor: not-allowed;
}
.una a{
    color: #fff;
    cursor: not-allowed;
}
.screen{
    width: 40rem;
    height: 9rem;
    border: .1rem solid #0004;
    margin: 1rem auto;
    transform: rotateX(-30deg);
    text-align: center;
    vertical-align: center;
    font-size: 110%;
    color: #000A;

}
.screen-container{
    perspective: 50em;

}


.seat-title{
    width: 96%;
    font-size: 14px;
    color: #012b72;
    font-weight: 600;
    margin: 25px 0 25px 15px;
    padding: 10px 0;
    border-bottom: 1px solid #ececec;
}
@media screen and (max-width: 600px){
    .menu li.right,
    .menu li {float: none;}
	.menu li:last-child{float:none;}
}



