body{
    color: aliceblue;
	margin: 0;
}

ul.topnav{
	list-style-type: none;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color:darkslategray;
	position: fixed;
	top: 0px;
	z-index: 2;
}

ul.topnav li{
	float: left;
	border-right: 1px solid #333;
}

ul.topnav li a{
	display: block;
	color: aliceblue;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

ul.topnav li:last-child{
	float: right;
}

ul.topnav li a.home{
	background-color:#ED474A;
}

li a:hover:not(.home){
	background-color: #333;
}

.drop-content{
    display:block;
    max-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
	background-color: darkslategray

}

.drop-content a {
    color: black;
	float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.drop-content a:hover {background-color: #f1f1f1;}

.drop1:hover .drop-content{
	display: block;
}

@media screen and (max-width: 600px){
    ul.topnav li.right, 
    ul.topnav li {float: none;}
	ul.topnav li:last-child{float:none;}
}



