@import url(fonts.css);

h1,*{
    margin: 0;
    padding: 0;
}
#h-overlay{
    position: relative;
    z-index: -50;
}
a,a:hover,a:active{text-decoration: none}
body{
    background-color:#FFFFFF;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}
.round-btn{
    border-radius: 25px;
    -moz-outline-radius: 25px;
}
#header{
    background-color: #DC143C;
    color: #FFFFFF;
}
.menu{
    /*overflow: hidden;*/
    background: #99cccb scroll;
    color: #FFFFFF;
    border-bottom: #59ABA9 1px solid;
	border-radius: 0 0 3px 3px;
}
.round-btn{
	background-color: #FFFFFF;
    color: #59ABA9;
    border: 1px solid #59ABA9;
    box-shadow: 0 4px 8px 2px rgba(0,0,0,0.2);
    font-size: 1vw;
    transition: background-color .2s ease-in;
    margin: .5rem 1rem;
}
.round-btn.home{
	background-color:#DC143C;
    color: #FFFFFF;
}
.round-btn:hover:not(.home){
	background-color: #59ABA9;
    color: #FFFFFF;
}
#close{
    border: 1px solid #DC143C;
    background: white;
    color: #DC143C;
}
#close:hover{
    background: #DC143C;
    color: white;
}
.nav-pills .nav-link{
    border-radius: 4rem!important;
    padding: .5rem 2rem !important;
}
#mtab .nav-link{
    background-color: #FFFFFF;
    color: #59ABA9;
}
#mtab .nav-link.active{
    background-color: #59ABA9;
    color: #FFFFFF;
}
             /*DROP DOWN*/

/*.drop-content{
    !*display:none;*!
    z-index: 1000;
    opacity: 0;
    padding: 1vh auto;
}

.drop-content a {
    background-color: #FFFFFF;
    color: #59ABA9;
    height: 0;
    z-index: 1000;
    border: 1px #59ABA9 solid;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

}

.drop-content a:hover {
    color: #FFFFFF;
    background-color: #59ABA9;
    cursor: pointer;
}

.drop:hover .drop-content{
    opacity: 1;
}
.drop:hover .drop-content a{
    height: auto;
    overflow: visible;
}*/
#intro{
    background-color: #E3DEBF;
    color: dimgrey;
    width: 100%;
}


.flexslider a:active,
.flexslider a:focus  { outline: none; }
.slides,
.flex-control-nav,
.flex-direction-nav { margin: 0; padding: 0; list-style: none; }
.slides li { margin: 0; padding: 0;}

/* Necessary Styles */
.flexslider {
    position: relative;
    zoom: 1;
    margin: 0;
    padding: 0;
}
.flexslider .slides { zoom: 1; }
.flexslider .slides > li { position: relative; }

/* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides > li { display: none; -webkit-backface-visibility: hidden; }
/* Suggested container for slide animation setups. Can replace this with your own */
.flex-container { zoom: 1; position: relative; }

/* Clearfix for .slides */
.slides:before,
.slides:after {
    content: " ";
    display: table;
}
.slides:after {
    clear: both;
}
/* Direction Navigation
--------------------------------------------------------------- */
.flex-direction-nav a {
    display: block;
    width: 40px;
    height: 66px;
    margin: -33px 0 0 0;
    background-color: #1f2024;
    cursor: pointer;
    z-index: 1000;
    opacity: 0;
    position: absolute;
    top: 50%;

    /* hide text */
    font: 0/0 a;
    text-shadow: none;
    color: transparent;

    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.flex-direction-nav a:hover { background-color: #0F9095; }

.flex-direction-nav .flex-next {
    right: 0;
    background: #1f2024 url(../images/direction-nav-right.png) no-repeat 47% 50%;
    position: absolute;

    border-radius: 3px 0 0 3px;
}
.flex-direction-nav .flex-prev {
    left: 0;
    background: #1f2024 url(../images/direction-nav-left.png) no-repeat 53% 50%;
    position: absolute;

    border-radius: 0 3px 3px 0;
}
.flexslider:hover .flex-next,
.flexslider:hover .flex-prev { opacity: 1; }
.flex-direction-nav .flex-disabled {
    opacity: .3 !important;
    filter: alpha(opacity=30);
    cursor: default;
}
.flexslider{
    background: transparent;
    border: 0;
}
iframe{display: block;
    margin: 0 auto;
}
.slider-text{
    margin: 0;
    text-align: center;
}
.slider-text h1{
    margin: 0;
}
.slider-image{
    margin: 0 auto;
}
/*.slider-image {
    position: relative;
    padding-bottom: 56.25%; !* 16:9 *!
    padding-top: 25px;
    height: 0;
}
.slider-image iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}*/

img#banner-img{
    display: block;
    height: 332px;
    width: 443px;
}
.slider-text h1 span,.slider-text a { color: #11ABB0; }
.slider-text p {
    font: 17px/36px notosans-regular, sans-serif;
    padding: 2vh;
    margin: 12px 8% 0;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .3);
}
#info .row{
    padding-bottom: 42px;
    max-width: 75%;
    margin: 0 auto;
}
#info h2{
    color: #11ABB0;
    font: 18px/30px notosans-bold, sans-serif;
    margin-bottom: 6px;
}
#info p{
    line-height: 30px;
    font-size: 15px;
}
section#now{
    background-color: lightgray;
    padding-top: 48px;
    padding-bottom: 36px;
    border-top: 1px solid #E3E8E8;
}
#now-head h1{
    font: 20px/36px raleway-bold, sans-serif;
    color: #A1A8AF;
}
#t-pad{
    padding: 0;
    margin: 0;
}
.trailer-item{
    text-align: left;
    background-color: #f5f5f5;
    margin: 0 auto;
    padding: 0;
}
.trailer-item iframe{
    width: 100%;
    box-shadow: 0 3px 8px 2px rgba(0,0,0,0.2);

}
.t-item{
    padding: 4vh;
}
.t-item h1{
    color: #11ABB0;
}
#acc-create{
    background-color: #E3DEBF;
}


#su-btn:hover,#su-btn:active
{
    color: white;
}
#su-btn{
    background-color: #11ABB0;
    color: #ddd;
    font-weight: bold;
}
footer{
    background-color: darkgrey;
    font-size: 14px;
}
footer a, footer a:visited { color: #6A747C; }
footer a:hover {
    color: black;
    background-color: transparent;
}

footer .footer-nav{
    text-align: center;
    padding: 24px;
    font: 18px/36px raleway-bold, sans-serif;
    font-weight: bolder;

}
footer .footer-nav a { color: #7B858E; }
footer .footer-nav a:hover { color: #007bff }
footer .footer-social{
    text-align: center;
    font-size: 30px;
}
footer ul{
    padding: 0;
}
footer .footer-social li a { color: #7B858E; }
footer .footer-social li a:hover { color: #007bff }
footer .copyright{
    text-align: center;
}
footer ul{
    margin: 0 auto;
}
footer li{
    list-style: none;
    display: inline-block;
    padding: 1vw;
    margin: 0;
}
.footer-nav a:hover,.footer-nav a:active{
    color:black;
}
.card{
    width: 15rem !important;
    border-radius: .75rem;
}
.card .card-body{
    padding: .5rem;
}
.card img{
    width: 100%;
    border-radius: .75rem .75rem 0 0;
    box-shadow: 0 3px 8px 2px rgba(0,0,0,0.2);
}

#intro.carousel span{
    color: black !important;
}

.car-next{
    background: black url("../images/direction-nav-right.png") no-repeat 47% 50%;
    position: absolute;
    right: 0;
    width:45px;
    height:50px;
    border-radius: 3px 0 0 3px;
}
.car-prev{
    background: black url("../images/direction-nav-left.png") no-repeat 47% 50%;
    position: absolute;
    left: 0;
    width:45px;
    height:50px;
    border-radius: 0 3px 3px 0;
}
.carousel{
    transition: transform 2s ease, opacity .5s ease-out
}
@media screen and (max-width: 600px){
    .menu li.right,
    .menu li {float: none;}
	.menu li:last-child{float:none;}
}



